{% extends "AWSDefcon1App/layout.html" %}
{% load static %}
{% block body %}
<h2>Watch Ads</h2>
<h3>To support the game, simply leave this tab open</h3>
<h3>If you want you can even click some of the ads, and then close them</h3>
<script>
    const refreshInterval = 5000; // 5 seconds
    let isUserActivea = false;
    let lastActivityTime = new Date().getTime();

    document.addEventListener('keydown', () => {
        isUserActivea = true;
        lastActivityTime = new Date().getTime();
    });

    setInterval(() => {
        const currentTime = new Date().getTime();
        if (!isUserActivea && (currentTime - lastActivityTime) >= refreshInterval) {
            window.location.href = window.location.href;
        }
        isUserActivea = false;
    }, refreshInterval);
</script>

<script>
    const inactivityTimeout = 5000; // 5 seconds
    let activityTimeout;
    let isUserActive = true;

    function refreshPage() {
        window.location.href = window.location.href;
    }

    function resetActivityTimer() {
        isUserActive = true;
        clearTimeout(activityTimeout);
        activityTimeout = setTimeout(() => {
            isUserActive = false;
            refreshPage();
        }, inactivityTimeout);
    }

    document.addEventListener('mousemove', resetActivityTimer);
    document.addEventListener('keydown', resetActivityTimer);

    window.onload = resetActivityTimer;
</script>

    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
      <script>
        kofiWidgetOverlay.draw('defcon1game', {
          'type': 'floating-chat',
          'floating-chat.donateButton.text': 'Support me',
          'floating-chat.donateButton.background-color': '#00b9fe',
          'floating-chat.donateButton.text-color': '#fff'
        });
        </script>
{% endblock %}

