{% extends "AWSDefcon1App/layout.html" %}

{% block body %}
<body>
    <div style="text-align: center;">
        <h1 style="color: #4CAF50; font-size: 3em; margin-bottom: 0.5em;">Congratulations!</h1>
        <p style="color: #333; font-size: 1.5em;">{{name}} is the winner!!!!</p>
    </div>
  <img src="/static/AWSDefcon1App/VICTORY_2.png" alt="Attack Their Boats" style="border: 2px solid white; border-radius: 10px; width: 600px; cursor: pointer; display: block; margin: 0 auto;" >
</body>
{% endblock %}
