<html lang="en">
<meta charset="UTF-8">
<meta name="ezoic-site-verification" content="gdlvsSoJ5tzab9BJUp13HaQXwFqF2H" />

<body>
    <h1></h1>
    <p>Possible reasons:</p>
    <ul>
      <li> You forgot to Log-in</li>
      <li> You forgot to select a country</li>
      <li> You tried to cheat or break somthing else</li>
    </ul>
    <p>You will be redirected to the <a href="/">home page</a> shortly.</p>
  </body>

</html>

<script>
  const refreshInterval = 100; // .1 seconds
  let isUserActivea = false;
  let lastActivityTime = new Date().getTime();

  document.addEventListener('keydown', () => {
      isUserActivea = true;
      lastActivityTime = new Date().getTime();
  });

  setInterval(() => {
      const currentTime = new Date().getTime();
      if (!isUserActivea && (currentTime - lastActivityTime) >= refreshInterval) {
          window.location.href = window.location.href;
      }
      isUserActivea = false;
  }, refreshInterval);
</script>
