{% extends "AWSDefcon1App/layout.html" %}

{% block body %}
<div style="text-align:center; margin-top:50px;">
  <h1>{{ title|default:"Something Went Wrong" }}</h1>
  <p>{{ message|default:"An unexpected error occurred. This may mean our servers need a few seconds to cacth up, or could be a more serious issue!  Wait a few seconds to see if it fixes itself before trying again" }}</p>
  <a href="{% url 'index' %}">Return to Home</a>
</div>

<script>
  const refreshInterval = 1000; // .1 seconds
  let isUserActivea = false;
  let lastActivityTime = new Date().getTime();

  document.addEventListener('keydown', () => {
      isUserActivea = true;
      lastActivityTime = new Date().getTime();
  });

  setInterval(() => {
      const currentTime = new Date().getTime();
      if (!isUserActivea && (currentTime - lastActivityTime) >= refreshInterval) {
          window.location.href = window.location.href;
      }
      isUserActivea = false;
  }, refreshInterval);
</script>

{% endblock %}

