{% extends "AWSDefcon1App/layout.html" %}

{% block body %}
<h2 style = "text-align: center;" >Statistics</h2>
        <h3 style = "text-align: center;" >Your Allies</h3>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Player</th>
                    <th scope="col">Name</th>
                    <th scope="col">States</th>
                    <th scope="col">Divisions</th>
                    <th scope="col">Boats</th>
                    <th scope="col">Planes</th>
                    <th scope="col">Alliance Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Nuke Time</th>
                    <th scope="col">Nukes</th>
                    <th scope="col">Spies</th>
                </tr>
            </thead>
            <tbody>
                {% for nation in knownnations %}
                    <tr>
                        <td scope="row">{{ nation.user.username }}</td>
                        <td scope="row">{{ nation.name }}</td>
                        <td scope="row">{{ nation.states }}</td>
                        <td scope="row">{{ nation.divisions }}</td>
                        <td scope="row">{{ nation.boats }}</td>
                        <td scope="row">{{ nation.planes }}</td>
                        <td scope="row">{{ nation.alliance_name }}</td>
                        <td scope="row">{{ nation.points }}</td>
                        <td scope="row">{{ nation.nuke_time }}</td>
                        <td scope="row">{{ nation.nukes }}</td>
                        <td scope="row">{{ nation.spies }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h3>Nations</h3>
    <div>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Player</th>
                    <th scope="col">Name</th>
                    <th scope="col">States</th>
                    <th scope="col">Alliance Name</th>
                    <th scope="col">Times Nuked</th>
                    <th scope="col">Attacks Left</th>
                    <th scope="col">Hostility</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for nation in nations %}
                    <tr>
                        <td scope="row">{{ nation.user.username }}</td>
                        <td scope="row">{{ nation.name }}</td>
                        <td scope="row"> {{ nation.states }} </td>
                        <td scope="row">{{ nation.alliance_name }}</td>
                        <td scope="row">{{ nation.nuked }}</td>
                        <td scope="row">{{ nation.attacks }}</td>
                        <td scope="row">{{ nation.friendlyness }}</td>
                        <!-- Add more cells as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</div>
<div class="how-to-play-widget">
    <button class="how-to-play-button">How to Play</button>
    <div class="how-to-play-content">
        <p style = "color: black">Here you can see information about you and your allies.  States is the amount of land, which determines how much stuff you get each turn.  Its a good measure of power.  Divisions is the number of soldiers, which determines victory in ground battles and encirclements.  Planes determine air battles, bombing, and nuclear bombings.  Boats determine naval battles and landings.  Points are reasources you can trade in as national focuses.  Nuke time is the time left before you get nukes.  Spies is what determines the success of spy missions</p>
</div>
{% endblock %}



