
{% extends "AWSDefcon1App/layout.html" %}

{% block body %}

    <h2 style = "text-align: center;" >Games</h2>
  </div>
  <div class="game-container" style="text-align: center;"> 
  
  {% for nation_list in games %}
<div class="game">
  <hr>
  <div class="info-bubble">
    <h3>
      <a class="game-link button" href="{% url 'map' game_id=nation_list.0 %}">Enter Game</a>
      <span class="info-icon">🛈</span>
    </h3>
    <span class="tooltip-text">This will take you to the games map, allowing you to play the game!</span>
  </div>

  <!-- Make this div scrollable -->
  <div class="game-info scrollable-list">
    {% for nation in nation_list|slice:"1:" %}
      <p class="boxed-list-instance"> {{ nation.name }}:
        {% if nation.user.username == request.user.username %}
          <span class="user-text">{{ nation.user.username }}</span>
        {% elif nation.user.username == 'loser' %}
          <span class="defeated-text">Defeated</span>
        {% elif nation.user.username == 'closed' %}
          <span class="bot-text">John Defcon(Bot)</span>
        {% else %}
          {{ nation.user.username }}
        {% endif %}
      </p>
    {% endfor %}
  </div>
</div>
    {% endfor %}

  </div>

<h2 style="text-align: center;">Leaderboard</h2>
        <style>
            .user-text {
              color: green;
              font-weight: bold;
            }
            .game-link, .player-link {
            display: inline-block;
            padding: 0.6px 5px; 
            margin: 5px;
            background-color: #002246;
            color: white;
            text-decoration: none; /* Remove underline by default */
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s ease, color 0.3s ease;
            
          }
          .scrollable-list {
            max-height: 600px; /* adjust as needed */
            overflow-y: auto;
            border: 1px solid #444;
            padding: 10px;
            margin-top: 10px;
          }
          .join-link{
            display: inline-block;
            padding: 0.6px 5px; 
            margin: 5px;
            background-color: #d4b70e;
            color: white;
            text-decoration: none; /* Remove underline by default */
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s ease, color 0.3s ease;
            text-decoration: none; /* Ensure no underline on hover */

          }

          .join-link:hover{
            background-color: #b49b0c; /* Darker blue on hover */
            color: white; /* Keep text color white */
            text-decoration: none; /* Ensure no underline on hover */
          }
          .defeated-text {
            color: red;
            font-weight: bold;
          }

          .bot-text {
            color: yellow;
            font-weight: bold;
          }


          .game-link:hover, .player-link:hover {
            background-color: #00356e; /* Darker blue on hover */
            color: white; /* Keep text color white */
            text-decoration: none; /* Ensure no underline on hover */
          }

          .game-info {
            border: 1px solid #ccc;
            padding: 15px;
            margin-top: 10px;
            text-align: left;
          }

          .recent-news {
            margin-top: 20px;
            padding: 20px;
            border: 2px solid #ccc;
            background-color: #f9f9f9;
            text-align: center;
          }

          .recent-news h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
          }

          .button {
            cursor: pointer;
          }

        .leaderboard {
            width: 300px;
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
            background-color: #000000;
        }
        .leaderboard ol {
            padding-left: 0;
            list-style: decimal inside;
        }
        .leaderboard li {
            margin: 10px 0;
            font-size: 18px;
        }

    </style>

<div class="leaderboard">
  <ol>
      {% for user in leaderboard|slice:":10" %}
      <li>{{ user.username }} || {{ user.wins }}</li>
      {% endfor %}
  </ol>
</div>

{% endblock %}
