{% extends "AWSDefcon1App/layout.html" %}
{% load static %}

{% block body %}
<h2 style="text-align: center; margin-bottom: 20px; font-size: 28px;">Messages with {{ recipient.username }}</h2>

<div id="messageContainer" style="
    width: 60%;
    margin: 0 auto 30px auto;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
">
    {% for message in messages %}
    {% if message.sender == request.user %}
        <div class="message" style="
            text-align: left;
            margin-bottom: 15px;
            padding: 10px;
            border-radius: 8px;
            background-color:  #2a2aff;
            color: white;" >
            <strong>{{ message.sender.username }}:</strong> {{ message.text }}
        </div>
        {% else %} 
            <div class="message" style="
            text-align: left;
            margin-bottom: 15px;
            padding: 10px;
            border-radius: 8px;
            background-color:  #2e2e2e;
            color: white;" >
            <strong>{{ message.sender.username }}:</strong> {{ message.text }}
        </div>
        {% endif %}
    {% endfor %}
</div>

<form id = "message-form" method="post" style="
    text-align: center;
    width: 60%;
    margin: 0 auto;
">
    {% csrf_token %}
    <textarea id = "text-box" name="content" placeholder="Type your message here..." style="
        width: 100%;
        height: 100px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        resize: vertical;
        background-color: #121212;
        color: white;
    "></textarea>
    <br><br>
    <button type="submit" style="
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        background-color: #2a2aff;
        color: white;
        cursor: pointer;
    ">Send</button>
</form>


<script>
    document.getElementById('text-box').addEventListener('keydown', function (event) {
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault(); // Prevent newline
            const form = document.getElementById('message-form');
            if (this.value.trim() !== "") {
                form.submit(); // Trigger the actual form submission
            }
        }
    });

    const refreshInterval = 20000; //20 seconds
    let isUserActivea = false;
    let lastActivityTime = new Date().getTime();

    document.addEventListener('keydown', () => {
        isUserActivea = true;
        lastActivityTime = new Date().getTime();
    });

    setInterval(() => {
        const currentTime = new Date().getTime();
        if (!isUserActivea && (currentTime - lastActivityTime) >= refreshInterval) {
            window.location.href = window.location.href;
        }
        isUserActivea = false;
    }, refreshInterval);
</script>

{% endblock %}
