nav{
    background-color:#e0e0e0;
    font-family: "Hoefler Text", serif;
    font-style: italic;
  }
  
  body {
      padding: 10px;
      background-color: black;
      color: white;
  }
  
  .linker, .linker-hover {
    font-family: "Hoefler Text", serif;
    font-style: italic;
    font-size: 30px;
  }
  
  .linker {
    color: #407AD6;
  }
  
  .linker-hover {
    color: #4E8EF5;
  }
  
  
  .game-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .game {
    flex: 0 0 calc(33.333% - 20px); /* Adjust the width as needed */
    margin: 10px;
  }
  
  .boxed-list {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  
  .boxed-list-instance {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    color: #A9A9A9;
    font-family: "Hoefler Text", serif;
    font-style: italic;
    font-size: 30px;
  
  }
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    color: var(--table-text);
    background-color: var(--table-bg);
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-striped-bg);
  }
  
  .table-hover tbody tr:hover {
    background-color: var(--table-hover-bg);
  }
  
  .table-sm th,
  .table-sm td {
    padding: 0.4rem;
  }
  
  /* Dark Mode-specific Styling */
  .dark-mode .table {
    color: var(--table-text);
    background-color: var(--table-bg);
  }
  
  .dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-striped-bg);
  }
  
  .dark-mode .table-hover tbody tr:hover {
    background-color: var(--table-hover-bg);
  }
  
  #myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }